@charset 'utf-8';

/* 스킵 */
#skip {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#skip a {
    position: absolute;
    left: 0;
    top: -2.75rem;
    width: 100%;
    color: #fff;
    font-size:1rem;
    background-color: var(--key-color-400);
    line-height: 2.75rem;
    text-align: center;
    transition-property: top;
    transition-duration: 0.3s;
}
#skip a:focus, #skip a:active {
    top: 0;
}

/* 버튼 */
.is-link-btn {
    font-size:0.875rem;
    font-weight: 700;
    color:var(--main-txt-color);
}
.is-button {
    width:100%;
    padding:1rem 0;
    font-size:0.875rem;
    font-weight: 700;
    color:var(--main-txt-color);
    border-radius: 0.5rem;
    background-color: var(--key-color-600);
    text-align: center;
}
.is-close {
    font-size: 0.875rem;
}
.is-dark-btn {
    display: inline-block;
    padding:0.5rem 0.75rem;
    color:var(--main-txt-color);
    font-size:0.75rem;
    border-radius: 0.625rem;
    background-color: var(--btn-dark-color);
}
.is-darkgreen-btn {
    display: inline-block;
    padding:0.5rem 0.75rem;
    color:var(--main-txt-color);
    font-size:0.75rem;
    border-radius: 0.625rem;
    background-color: var(--btn-green-color);
}
/* 로그인, 관리자, 비밀번호 재설정,찾기 */
.login_container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../images/login_background.png') center center / cover no-repeat;
}
.login_wrap {
    position:absolute;
    top:50%;
    left:50%;
    padding:3rem;
    transform: translate(-50%, -50%);
    background: var(--box-bg-color);
}
.login_box {
    width: 21.75rem;
}
.login_logo_box {
    text-align: center;
}
.input_wrap {
    position: relative;
    width: 100%;
}
.input_margin {
    margin:2.5rem 0 1rem 0;
}
.input_item {
    position: relative;
    width: 100%;
    height: 1.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.625rem;
    font-size: 1rem;
    color:var(--main-txt-color);
    border: none;
    border-bottom: 0.063rem solid var(--key-color-400);
    background: none;
    z-index: 5;
}
.input_item::placeholder { color:var(--main-txt-color); }
.input_item:focus { outline: none; }
.input_line {
    position: absolute;
    bottom: 0;
    left: 0%;
    background-color: #666;
    width: 0;
    height: 0.125rem;
    border-radius: 0.125rem;
    transition: 0.5s;
}
.input_label {
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    font-size: 1rem;
    color:var(--main-txt-color);
    transition: all .2s;
}
.input_item:focus ~ .input_label, .input_item:valid ~ .input_label {
    font-size: 0.875rem;
    bottom: 1.6rem;
    color: var(--main-txt-color);
}
.input_item:focus ~ .input_line, .input_item:valid ~ .input_line {
    width: 100%;
}
.check_box input {
    display: none;
}
.check_box input + label{
    cursor:pointer;
}
.check_box input + label:before{
    display:inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    border: 0.063rem solid var(--key-color-400);
    border-radius: 0.1875rem;
    vertical-align: middle;
    content: "";
}
.check_box input:checked + label:before{
    background-color: transparent;
    border-color: var(--key-color-400);
    background-image: url('../images/check.png');
    background-repeat: no-repeat;
    background-position: 50%;
    content: "";
}
.check_box label {
    font-size: 0.875rem;
    color: var(--main-txt-color);
}
.error_message {
    position: absolute;
    left: 0;
    bottom: -1.4rem;
    font-size: 0.75rem;
    color: var(--danger-color-500);
}
.login_title {
    margin-bottom: 3rem;
    font-size: 2.125rem;
    font-weight: 700;
}
.login_container .is-button:hover {
    background-color: var(--key-color-500);
}

/* modal */
.modal_container {
    display: none;
}
body.hidden .modal_container {
    display:block;
}
.modal {
    position:fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--box-bg-color);
    z-index: 100;
}
.modal_wrap {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 200;
}
.modal_title_box {
    display: flex;
    gap:12.8rem;
    padding: 1rem 2rem;
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: var(--sub-color-600);
}
.modal_title {
    font-size: 1.125rem;
    font-weight: 700;
}
.modal_txt {
    padding: 1rem 2rem;
    color: var(--black-txt-color);
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0 0 0.25rem 0.25rem;
    background-color: var(--white-bg-color);
}
.terms, .information {
    display: none;
}
.terms.active, .information.active {
    display: block;
}

/* sub-background */
.body-bg {background-color: var(--sub-bg-color);}

/* header */
header {
    position: relative;
    z-index: 9998;
}
.header_container {
    display: flex;
    justify-content: space-between;
    padding:0.25rem 1rem;
    background-color: var(--hd-bg-color);
}
.header.ver1 .header_container {
    max-width: 117.000rem;
    margin:0 1.5rem;
    border-radius: 0.25rem;
}
.logo_box {
    margin: auto 0;
}
.logo_title {
    display: flex;
    align-items: center;
    gap:0.5rem;
    color:var(--main-txt-color);
}
.utility_box {
    gap:1rem;
    font-size:0.750rem;
    font-weight: 700;
}
.danger_item {
    padding:0.313rem 1rem;
    font-size: 0.750rem;
    font-weight: 500;
    border: 0.063rem solid rgba(222, 222, 222, 0.80);
    border-radius: 0.250rem;
}
.danger_number {
    color:var( --danger-color-600);
}
.email_name {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    padding-top:0.25rem;
    border-radius: 100%;
    background-color: var(--sub-color-700);
    text-align: center;
}
.nav_container {
    position: relative;
    background-color: var(--hd-bg-color);
}
.header.ver1 .nav_container {
    display: inline-block;
    margin:0.25rem 1.5rem;
    border-radius: 0.25rem;
}
.gnb {
    display:flex;
    gap:4rem;
    padding:0.25rem 1rem;
    font-weight: 600;
}
.depth1 {
    position: relative;
}
.depth1 a {
    font-size:0.875rem;
    color:var(--main-txt-color);
}
.depth1 a:hover {
    color:var(--key-color-400);
}
.depth1.active a {
    color:var(--key-color-400);
}
.depth1.active::before {
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    width: 100%;
    border-bottom: 0.188rem solid var(--key-color-400);
    content: '';
}

/* 2depth */
.monitoring, .big_data, .system, .basic, .facility, .record, .stats, .meta_data {
    display:none;
}
.depth2_wrap.active {
    position: absolute;
    left:-1rem;
    top:2.1rem;
    display:flex;
    gap:0.5rem;
    white-space : nowrap; 
}
.big_data.active{
    left: -8rem;
}
.depth2_wrap.close {
    display: none;
}
.depth2_item_box {
    padding:0.25rem 1rem;
    font-size: 0.750rem;
    font-weight: 500;
    border-radius: 0.25rem;
    background-color: var(--hd-bg-color);
    text-align: center;
}
.depth2_title {
    font-size:0.75rem;
    color:var(--key-color-400)
}
.depth2_box {
    display: flex;
    padding:0.5rem 0 0;
}
.depth2_item {
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:0.5rem;
    margin-right: 1rem;
    line-height: 1.3;
    cursor: pointer;
}
.depth2_item:last-child {
    margin-right:0;
}
.depth2_item span {
    display: block;
    font-size: 0.750rem;
}
.depth2_item img {
    width: 1.375rem;
    height: 1.375rem;
}
.depth2_open_box {
    position: absolute;
    top:0.25rem;
    right:-2rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    background-color: var(--hd-bg-color);
}
.depth2_open_btn {
    position: relative;
    width: 100%;
    height: 100%;
}
.depth2_open_btn::after {
    position: absolute;
    left: 0.5rem; 
    top: 0.25rem; 
    width: 0.5rem; 
    height: 0.5rem;
    border-top: 2px solid var(--main-txt-color); 
    border-right: 2px solid var(--main-txt-color);
    transform: rotate(-45deg);
    transition: 0.3s;
    content: '';
}
.depth2_open_btn.open::after{
    top:0;
    transform: rotate(135deg);
}

/* header ver2 */
.header.ver2 .header_container {
    padding:0.25rem 0.5rem;
}
.header.ver2 .depth2_wrap {
    width: 122rem;
    min-width: 122rem;
    top:2.1rem;
}
.header.ver2 .system {
    left: -16.3rem;
}
.header.ver2 .basic {
    left:-24.3rem;
}
.header.ver2 .facility {
    left:-33.2rem;
}
.header.ver2 .record {
    left:-42.9rem;
}
.header.ver2 .stats {
    left:-50.2rem;
}
.header.ver2 .meta_data {
    left:-58.2rem;
}
.header.ver2 .gnb{
    padding:0.5rem;
}
.header.ver2 .depth2_item_box {
    width: 100%;
    padding:0.5rem;
    border-radius: 0;
}

/* main */
main {
    margin-top:4.111rem;
}
.main_container {
    display: flex;
}
.main_section {
    width: 100%;
    margin: 4.5rem 2rem 0 2rem;
    /* background-color: antiquewhite; */
}
/* left-sidebar */
.snb_container {
    width: 100%;
    max-width: 12rem;
    height: inherit;
    min-height: 43.5rem;
    margin-top:1.5rem;
    background-color: var(--side-bar-color);
}
.snb_wrap {
    padding: 3rem 0 0 1.5rem;
}
.side_title {
    position: relative;
    font-size:1.25rem;
    font-weight: 600;
    color:var(--key-color-400);
}
.side_title::after {
    position: absolute;
    bottom:-0.5rem;
    left:0;
    width: 1.25rem;
    height: 0.063rem;
    background-color: var(--white-bg-color);
    content: '';
}
.side_txt {
    margin:1.5rem 0 2rem 0;
    line-height: 1rem;
    font-size:0.75rem;
    font-weight: 300;
}

/* 박지훈 css 추가 */
.table_btn_wrap > div { 
    margin-bottom: 0.5rem;
    float:left; 
}
.table_btn_wrap .search {
    float:right;
}

/* 인풋 속성 동일  */
.input_same {  
    padding:0.55rem 0.625rem;  
    border:none;
    border-radius: 0.625rem;
    outline: none;
    background-color:var(--dark-color-500); 
    font-size: 0.9rem;
}

/* 활성화 버튼 동일 */
.on_input_same {
    padding:0.55rem 0.625rem;  
    border:none;
    border-radius: 0.625rem;
    outline: none;
    background-color:var(--btn-green-color);
    font-size: 0.9rem;
}

.table_btn_wrap .search div {
    display:inline-block;
}
.cont-select {
    position: relative;
    margin-right: 0.5rem;
}
.btn-select {
    padding:0.5rem 0.625rem;
    cursor: pointer;
}

.btn-select .arrow { 
    padding-left:2.75rem;
    background:url("../images/arrow.png") no-repeat 90% 55%;
}

.list-member {
    display: none;
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    border-radius: 0.625rem;
    overflow: hidden;
    z-index: 10;
}
.list-member.on {
    display: block;
}

.list-member li button {
    padding: 0.5rem;
    width:100%;
    border: none;
    background-color:var(--dark-color-500);
    text-align: left;
    font-size: 0.9rem;
    white-space: nowrap;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list-member li button:hover, .list-member li button:focus {
    background-color:var(--dark-color-600); 
}
.selectBox .select option {
    font-size: 0.9rem;
    color: #fff;
    background-color:var(--dark-color-500); 
}

.calendar input { 
    padding:0.5rem 0.625rem;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
        display: none;
        appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    background: url('../images/arrow.png') no-repeat center; 
}

.search input { 
    padding:0.5rem 0.625rem;
    border:none;
    border-radius: 0.625rem;
    outline: none;
    font-size: 0.9rem;
    margin-right:0.5rem;
}

.search .search_head {
    margin-right:0.5rem; 
    font-size: 0.9rem;
 }

.search .search_box { 
    background-color:var(--dark-color-500);
 }

 .search .search_box2 {
    color:var(--main-txt-color);
    background-color:var(--btn-green-color);
 }

.main_section table {
    text-align: center;
}
.main_section table th {
    padding:1.9rem 0;
    background-color:var(--dark-color-500); 
}
.main_section table td {
    padding:1.9rem 0;
    background-color:var(--dark-color-600); 
    border-bottom: 1px solid #2e2e2e;
}
.table_1depth {
    cursor: pointer;
}
.main_section table .table_2depth {
    display: none;
}
.main_section table .table_2depth.active {
    display:table-row;
}
.main_section table .table_2depth td {
    background-color: var(--table-2depth-color);
}
.page_wrap {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
  
  .pagination {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 2rem 0;
}
  
  .pagination li {
    display: inline;
    text-align: center;
}
  
  .pagination a {
    float: left;
    display: block;
    font-size: 0.875rem;
    padding: 0.3125rem 0.75rem;
    color: #96a0ad;
    line-height: 1.5;
}
  
  .first{
    margin-right: 0.9375rem;}
  
  .last{
    margin-left: 0.9375rem;}
  
  .first:hover, .last:hover, .left:hover, .right:hover{
    color: #2e9cdf;}
  
  .pagination a.active {
    cursor: default;
    color: #ffffff;}
  
  .pagination a:active {
    outline: none;
   }
  
  .pagination .num {
    margin-left: 0.1875rem;
    padding: 0;
    width: 1.875rem;
    height: 1.875rem;
    line-height: 1.875rem;
    border-radius: 0.625rem;}
  
  .pagination .num:hover {
    background-color:var(--key-color-600);
    /* border:1px solid var(--key-color-600); */
    color: #ffffff;}
  
  .pagination .num.active, .pagination .num:active {
    background-color: var(--key-color-600);
    cursor: pointer;}
  
  
    /* 사용자 그룹 등록 */
    .group { 
        margin-bottom:2rem;
    }

    .group_text {
        position: relative;
        font-size:1.125rem;
        font-weight: 700;
        padding-bottom: 0.5rem;
    }

    .group .group_box { 
        padding:0.5rem 4.75rem 0.5rem 0.625rem ;
        margin-top:0.625rem;
    }

    .group_text::before {
       content: '';
       width:2rem;
       height:0.125rem;
       background: var(--white-bg-color);
       position: absolute;
       bottom: 0;
    }
    .group_ex {
        display: block;
        padding:0.5rem 0 0 0.5rem;
        line-height: 1rem;
        font-size:0.75rem;
    }
    .group_btn {
        margin-top:1rem;
    }
    .group .search_box {
        margin-top:1rem;
        padding:0.5rem 0.625rem;
        border:none;
        border-radius: 0.625rem;
        outline: none;
        background-color:var(--dark-color-500); 
        font-size: 0.9rem;
    }

    .group .btn-select {  
        padding:0.5rem 0.625rem 0.5rem 0.625rem ;
        margin-top:0.625rem;
    }

    .group .btn-select .arrow {
        padding-left:8.5rem;
        background:url("../images/arrow.png") no-repeat 100% 55% ;
    }

    .group:last-child input {
        margin:6rem 0 0 0rem;
        
    }


    .modal-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(000, 000, 000, 0.56);
        /* backdrop-filter: blur(1.5px); */
        /* -webkit-backdrop-filter: blur(1.5px); */
        z-index: 99999;
    }
    #modal .modal-wrap {
        background: var(--white-bg-color);
        /* backdrop-filter: blur( 13.5px );
        -webkit-backdrop-filter: blur( 13.5px ); */
        border-radius: 0.625rem;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        position: relative;
        padding: 2rem;
        width:46.75rem;
    }
    #modal .title {
        display: flex;
        justify-content:space-between;
        color: var(--black-txt-color);
        font-size:1rem;
        font-weight: 600;
    }
    #modal .modal-close {
        cursor: pointer;
        background:url("../images/close.png") no-repeat center / cover;
        width:0.875rem;
        height:0.875rem;
    }
    
    #modal .modal-content {
        margin-top: 1.2rem;
        border:1px solid red;
        color: white;
    }

    .modal-btn-select {  
        padding:0.5rem 0.625rem;
        font-size:0.875rem;
        border:1px solid var(--line-color-100);
        color: var(--black-txt-color);
    }

    .modal-btn-select .arrow_down {  
        padding-left:3.375rem;
        background:url("../images/arrow_down.png") no-repeat 100% 55% / 20%;
        color: var(--black-txt-color); 
    };

    .modal-con1 { background: gold; width:400px; height:400px; }
    
    .modal_input1 { 
        padding:0.625rem 3.75rem 0.625rem 0.75rem; 
        border:1px solid var(--line-color-100);
        color:var(--dark-color-200);
        outline: none;
    }

    .modal_input2 { 
        padding:0.625rem; 
        color:var(--main-txt-color);
        background-color:var(--dark-color-500);
        outline: none;
        cursor: pointer;
    }

    .modal-content .modal-table {
        font-size:0.875rem; 
        text-align: center;
    }
    
    .modal-content table th { 
        position: relative;
        padding:1.125rem 0;
        color:var(--main-txt-color) ;
        background-color:var(--sub-color-500);
    }

    .modal-content table th::after { 
        display: block;
        position: absolute;
        top: 1.4rem;
        content: '';
        width:0.0625rem;
        height:1rem;
        background-color: var(--white-bg-color);
    }

    .modal-content table th:first-child::after { 
        display: none;
    }

    .modal-content table td { 
        position: relative;
        padding:1.125rem 0;
        color:var(--black-txt-color) ;
        border-bottom:1px solid var(--line-color-400);
     }

     .modal-content table td:first-child::after { 
        display: none;
    }

     .modal-content table td::after { 
        display: block;
        position: absolute;
        top: 1.4rem;
        content: '';
        width:0.0625rem;
        height:1rem;
        background-color: var(--line-color-400);
    }

    .modal_page_wrap .pagination {  }

    .page_wrap {
        text-align: center; 
    }
      
      .pagination {
        display: flex;
        justify-content:center;
        padding: 0;
        margin: 2rem 0;
    }
      
      .pagination li {
        display: inline;
        text-align: center;
    }
      
      .pagination a {
        float: left;
        display: block;
        font-size: 0.875rem;
        padding: 0.3125rem 0.75rem;
        color: #96a0ad;
        line-height: 1.5;
    }
      
      .first{
        margin-right: 0.9375rem;}
      
      .last{
        margin-left: 0.9375rem;}
      
      .first:hover, .last:hover, .left:hover, .right:hover{
        color: var( --sub-color-500);}
      
      .pagination a.active {
        cursor: default;
        color: #ffffff;}
      
      .pagination a:active {
        outline: none;
       }
      
      .pagination .num {
        margin-left: 0.1875rem;
        padding: 0;
        width: 1.875rem;
        height: 1.875rem;
        line-height: 1.875rem;
        border-radius: 0.625rem;}
      
      .pagination .num:hover {
        background-color:var(--key-color-600);
        /* border:1px solid var(--key-color-600); */
        color: #ffffff;}
      
      .pagination .num.active, .pagination .num:active {
        background-color: var(--key-color-600);
        cursor: pointer;}
































































































































































